<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<%- include("./partials/nav.ejs") %>

		<div class="about content">
			<h2>About Me</h2>
			<p>Hello World. I'm Thejas N U(TNU)</p>
			<p>
				I'm a CSE student and web dev fan I'm interested in web dev and
				I build cool websites
			</p>
			<p>
				I use MERN stack, I know
				html,css,js,react,mongodb,node,express,bootstrap,tailwind,ejs,git
			</p>
		</div>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
